.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-image: url('');
    background-position: center;
    background-size: cover;
}



.main .container-1 .navbar  .dropdown{
    display: flex;
    flex-direction: row;
}

.main .container-1 .navbar .dropbtns {

    display: flex;
    justify-content: space-around;
    padding: 12px 12px;
    border: none;

}


.main .container-1 .navbar .hb {
    background-color: rgba(124, 110, 110, 0.445);
    color: wheat;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;

}

.main .container-1 .navbar .se {
    background-color: rgba(124, 110, 110, 0.445);
    color: wheat;
    cursor: pointer;
    border-radius: 5px;
}

.main .container-1 .navbar .thr {
    background-color: rgba(124, 110, 110, 0.445);
    color: wheat;
    cursor: pointer;
    border-radius: 5px;
}

.main .container-1 .navbar .fou {
    background-color: rgba(124, 110, 110, 0.445);
    color: wheat;
    cursor: pointer;
    border-radius: 5px; 
}

.main .container-1 .navbar .hb:hover {
    background-color: rgb(207, 178, 178);
}

/* .main .container-1 .navbar .cb:hover {
    background-color: rgb(236, 200, 200);
} */
/*
.main .container-1 .navbar .cob:hover {
    background-color: rgb(228, 186, 186);
}

.main .container-1 .navbar .vb:hover {
    background-color: rgb(240, 195, 195); 
}
*/
.main .container-1 .navbar .dropbtns .hb {
    position: relative;
    display: inline-block;
}


.main .container-1 .navbar .dropbtns .drop-content {
    background-color: rgba(124, 110, 110, 0.445);
    position: absolute;
    top: 109px;
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropbtns .hb button:hover>.drop-content {
    display: block;
}


.main .container-1 .navbar .dropbtns .drop-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    
}

.main .container-1 .navbar .dropbtns .drop-content a:hover {
    background-color: rebeccapurple;
} 
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}